{% extends "layouts/main.html" %}

{% block pageTitle %}
  My dashboard – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {% include "partials/header.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>Lorem ipsum dolor sit amet, commodo veniam occaecat culpa enim tempor tempor cillum irure laborum officia nulla fugiat.</p>

    </div>
  </div>
  <div class="govuk-grid-row govuk-!-static-margin-top-6">
    <div class="govuk-grid-column-one-third">
      <p class="b">
        <a href="/products">My products</a>
      </p>
      <p>Lorem ipsum dolor sit amet, commodo veniam occaecat culpa enim tempor tempor cillum irure laborum officia nulla fugiat.</p>
      <ul class="govuk-list xgovuk-list--bullet">
        <li>
          <a href="">Import product list</a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="b">
        <a href="/notifications">My notifications</a>
      </p>
      <p>Lorem ipsum dolor sit amet, commodo veniam occaecat culpa enim tempor tempor cillum irure laborum officia nulla fugiat.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="b">
        <a href="/account">My account</a>
      </p>
      <p>Lorem ipsum dolor sit amet, commodo veniam occaecat culpa enim tempor tempor cillum irure laborum officia nulla fugiat.</p>
    </div>
  </div>
</div>

{% endblock %}